form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#survey-form {
  width: 100%;
  margin: 0 auto;
  
}
.center {
  text-align: center;
}
.row-tab {
margin: 5px 0;
}

#label-rapper {
  display: inline-block;
  width: 40%;
}

#input-rapper {
  display: inline-block;
  width: 48%;
}

#select-input {
  display: inline-block;
  width: 48%;
}

#label-select {
  display: inline-block;
  width: 40%;
}

#label-radio {
  display: inline-block;
  width: 40%;
}

#input-radio {
  display: inline-block;
  width: 40%;
}

#checkbox-labels {
  display: inline-block;
  width: 40%;
}

#checkbox-input {
  display: inline-block;
  width: 40%;
}
